# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
flask_env
.idea/
__pycache__/

app_log.log
flask.sock
*.ini
.env