nav{
    margin-bottom: 30px;
    background-color: darkcyan;
}
h3{color: white; }
h1, .info{color: rebeccapurple}
.avatar {
  border-radius: 50%;
}
body{
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
  background:black url("") no-repeat top center;
}
.blog-navigation{
    font-size: 18px;
    border: 5px solid #2d508f;
}
.points {
    background-color: lightcoral;
    margin: 0;
    margin-bottom: 10px;
}
.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.instagram a:hover {background: #3f729b;}
.telegram a:hover {background: #249bd7;}
.vk a:hover {background: #4a76a8;}
.youtube a:hover {background: #c4302b;}
header {
    display:flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
footer{
    display:flex;
   justify-content: center;
    background-color: black; 
}
.block_name{
    display:flex;
    justify-content: center;
    background-color: gainsboro;
}
.befo_name{
  font-size: 0;  
  padding-bottom: 60px;
}
.sidebar, .content{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar{
    width:30%;
    background-color: darkred;
    color: white;
}
.content{
    width:70%;
    background-color: black;
    color: white;
    padding-bottom: 60px ;  
    word-wrap: break-word; /* Перенос слов */ 
}

.names{ 
    padding: 0 0 0 20px;
}
footer .container{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.befo_name container{
    min-height: 100%;   
}
footer{
    margin-top: -20px;
}
.wrapper{
    font-size: 0;
    padding-bottom: 60px;
}
nav {
	display: inline-block; /*Задаем блочно-строчное отображение*/
  	width: 180px; /*задаем ширину блока*/
	background: black;
    color: darkred;
        }
 
        .string {
         text-align: center; /*Равняем текст по-горизонтали*/
        }
.services{ /* услуги */
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(1,1,1,.6),rgba(1,1,1,.6)), url(bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'Play', sans-serif;
}
.containerr {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
}

.card {
	position: relative;
	width: 250px;
	height: 300px;
	border-bottom: 3px solid #7acbff;
	transition: .3s;
}

.card:hover {
	margin-top: -30px;
}

.fone {
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.data {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, 
	rgba(22,92,127,1), 
	rgba(22,92,127,1), 
	rgba(1, 1, 1, 0), 
	rgba(237, 226, 7, .2));
	top: 0;
}

.date {
	color: #7acbff;
	font-size: 15px;
	margin: 200px 0 0 20px;
	padding: 0;
}

.card-link {
	display: block;
	width: 90%;
	color: #fff;
	font-size: 26px;
	text-decoration: none;
	margin: 5px 0 0 20px;
	transition: .3s;
}

.card-link:hover {
	color: #7acbff;
}

.tong {
	position: absolute;
	border-bottom: 5px solid #7acbff;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 0;
	width: 80px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}